# =========================================================
# Base de Donnees PostgreSQL
# =========================================================
# Vous pouvez definir DB_POSTGRES_URL ou DATABASE_URL
DATABASE_URL=ppostgresql://neondb_owner:npg_VjS3d6XqHshB@ep-silent-forest-alx32mzu-pooler.c-3.eu-central-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
# =========================================================
# FastAPI
# =========================================================
PYTHONUNBUFFERED=1

# =========================================================
# France Travail API (optionnel pour offers_fetcher.py)
# =========================================================
CLIENT_ID=your_client_id_here
CLIENT_SECRET=your_client_secret_here
REDIRECT_URI=http://localhost:3000/callback
