# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/

# Virtual environments
.venv/
venv/
env/

# Project-specific local data
data/
z_back/

# OS / editor
.DS_Store
.vscode/
.idea/

# Logs / databases
*.log
*.sqlite3

# Airflow logs
logs/*
!logs/.gitkeep